@import "src/assets/colors";
:host {
  ::ng-deep{
    .mat-stepper-horizontal, .mat-stepper-vertical {
      background-color: $i3-base;
    }
    .mat-step-header.cdk-keyboard-focused,
    .mat-step-header.cdk-program-focused
    , .mat-step-header:hover:not([aria-disabled]),
    .mat-step-header:hover[aria-disabled=false] {
      background-color: $i3-base;
    }
    .mat-step-icon {
      background-color: $i3-white;
      width: 3.125rem;
      height: 3.125rem;
      border: solid $i3-gray 1px;
      color: $i3-gray;
    }
    .mat-step-icon-selected {
      border: solid $i3-blue 1px;
      color: $i3-blue;
    }
    .mat-step-text-label{
      color: $i3-blue;
      text-align: center;
      margin-top: 0.2rem;
    }
    .mat-horizontal-stepper-header{
      flex-direction: column;
    }
    .mat-stepper-horizontal-line {
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 900px) {
    ::ng-deep {
      .mat-step-icon{
        background-color: $i3-base;
        border: hidden;
        width: 2.5rem;
        height: 2.5rem;
      }
      .mat-step-icon-selected{
        border: solid $i3-blue 1px;
      }
    }
  }

}
