
<mat-stepper #stepper>

  <mat-step state="calender" label="تقویم">
  </mat-step>

  <mat-step state="information" label="جزییات">
  </mat-step>

  <mat-step state="payments" label="پرداخت">
    <i3-payment></i3-payment>
  </mat-step>


  <ng-template matStepperIcon="calender" #stepperIcons>
    <img src="assets/icons/calender.svg">
  </ng-template>

  <ng-template matStepperIcon="information" #stepperIcons>
    <img src="assets/icons/information.svg">
  </ng-template>

  <ng-template matStepperIcon="payments" #stepperIcons>
    <img src="assets/icons/payments.svg">
  </ng-template>

  <ng-template matStepperIcon="edit"  let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons&& matStepperIcons[index]"></ng-container>
  </ng-template>

  <ng-template matStepperIcon="done"  let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>

</mat-stepper>

