
<mat-stepper #stepper>

  <!--<mat-step #First state="calender"  label="تقویم">
    <i3-payment *ngIf="stepper.selected ==First " [label]="'تقویم'"></i3-payment>
  </mat-step>

  <mat-step #Second state="information" label="جزییات">
    <i3-payment *ngIf="stepper.selected == Second " [label]="'جزییات'"></i3-payment>
  </mat-step>

  <mat-step #Third state="payments" label="پرداخت">
    <i3-payment *ngIf="stepper.selected ==Third " [label]="'پرداخت'"></i3-payment>
  </mat-step>-->

  <mat-step *ngFor="let step of stepsOptions"  [label]="step.label" [state]="step.state">
    <ng-content select="{{step.state}}"></ng-content>
  </mat-step>

  <ng-template matStepperIcon="calender" #stepperIcons>
    <img src="assets/icons/calender.svg">
  </ng-template>

  <ng-template matStepperIcon="information" #stepperIcons>
    <img src="assets/icons/information.svg">
  </ng-template>

  <ng-template matStepperIcon="payments" #stepperIcons>
    <img src="assets/icons/payments.svg">
  </ng-template>

  <ng-template matStepperIcon="edit"  let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons&& matStepperIcons[index]"></ng-container>
  </ng-template>

  <ng-template matStepperIcon="done"  let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>

</mat-stepper>

