
<mat-stepper #stepper>
  <mat-step state="calender" label="تقویم">
  </mat-step>
  <mat-step state="information" label="جزییات">
  </mat-step>

  <mat-step state="payments" label="پرداخت">
  </mat-step>

  <ng-template matStepperIcon="calender" #stepperIcons>
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="2.99625" y="4.96594" width="18.0075" height="16.5069" rx="3" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M7.49813 3.46527V6.46652" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16.5019 3.46527V6.46652" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M10.3993 12.269L11.6009 13.4695L13.6007 11.4686" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M17.0021 17.4574H6.99792" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  </ng-template>

  <ng-template matStepperIcon="information" #stepperIcons>
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14 21.4691H6C4.895 21.4691 4 20.5741 4 19.4691V9.46906C4 8.36406 4.895 7.46906 6 7.46906H14C15.105 7.46906 16 8.36406 16 9.46906V19.4691C16 20.5741 15.105 21.4691 14 21.4691Z" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M16 17.4691H18C19.105 17.4691 20 16.5741 20 15.4691V5.46906C20 4.36406 19.105 3.46906 18 3.46906H10C8.895 3.46906 8 4.36406 8 5.46906V7.46906" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M8 12.4691H12" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M8 16.4691H12" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  </ng-template>

  <ng-template matStepperIcon="payments" #stepperIcons>
    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.0037 9.96799V6.96674C21.0037 5.58545 19.884 4.4657 18.5027 4.4657H5.49729C4.116 4.4657 2.99625 5.58545 2.99625 6.96674V10.4682" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M21.0038 14.9701V17.9713C21.0038 19.3526 19.884 20.4724 18.5027 20.4724H15.0013" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5027 9.96802H21.0037C21.5563 9.96802 22.0042 10.4159 22.0042 10.9684V13.9697C22.0042 14.5222 21.5563 14.9701 21.0037 14.9701H18.5027C17.1214 14.9701 16.0017 13.8503 16.0017 12.4691V12.4691C16.0017 11.0878 17.1214 9.96802 18.5027 9.96802V9.96802Z" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M12 16.4707H1.99583" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99917 13.4695H3.99667C2.89164 13.4695 1.99583 14.3653 1.99583 15.4703V19.472C1.99583 20.577 2.89164 21.4728 3.99667 21.4728H9.99917C11.1042 21.4728 12 20.577 12 19.472V15.4703C12 14.3653 11.1042 13.4695 9.99917 13.4695Z" stroke="#CFD1D2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  </ng-template>

  <ng-template matStepperIcon="edit"  let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>

  <ng-template matStepperIcon="done"  let-index="index">
    <ng-container [ngTemplateOutlet]="matStepperIcons && matStepperIcons[index]"></ng-container>
  </ng-template>
  <!--<ng-template matStepperIcon="done">
    <img src="assets/icons/calender.svg">
  </ng-template>-->
</mat-stepper>

